<div>
    <span>
        <a href="/" style="text-decoration: none; color: black;">
            <h1 style="display: inline">NodeJS Forum</h1>
        </a>
    </span>
    <span style="float:right">
        <% if(session.admin){ %><a href="/user/all">Users</a> / <% } %>
        <a href="/user/self">Account</a> / <a href="/logout"> Logout</a>
    </span>
</div>
<hr>