<div>
    <span>
        <a href="/" style="text-decoration: none; color: black;">
            <h1 style="display: inline">NodeJS Forum</h1>
        </a>
    </span>
</div>
<hr>
<h3>404 NOT FOUND</h3>
<a href="/">Return to home page</a>