<a href="/" style="text-decoration: none; color: black"><h1>NodeJS Forum</h1></a>
<div>
    <p>Title</p>
    <input placeholder="Title of your content." id="title" <% if(post){ %>value=<%- '"'+post.title+'"' %><% } %>></input>
</div>
<div>
    <p>Content</p>
    <textarea id="content"><% if(post){ %><%= post.content %><% } %></textarea>
</div>
<br>
<button id="submit">Submit</button>
<% if(post){ %>
    <button id="delete" style="background-color: Transparent;background-repeat:no-repeat;border: none;cursor:pointer;overflow: hidden;outline:none; color: red;"><u>Delete</u></button>
<% } %>

<script>
    async function postData(url = '', data = {}) {
    // Default options are marked with *
    const response = await fetch(url, {
        method: 'POST', // *GET, POST, PUT, DELETE, etc.
        mode: 'cors', // no-cors, *cors, same-origin
        cache: 'no-cache', // *default, no-cache, reload, force-cache, only-if-cached
        credentials: 'same-origin', // include, *same-origin, omit
        headers: {
        'Content-Type': 'application/json'
        // 'Content-Type': 'application/x-www-form-urlencoded',
        },
        redirect: 'follow', // manual, *follow, error
        referrerPolicy: 'no-referrer', // no-referrer, *no-referrer-when-downgrade, origin, origin-when-cross-origin, same-origin, strict-origin, strict-origin-when-cross-origin, unsafe-url
        body: JSON.stringify(data) // body data type must match "Content-Type" header
    });
    return response.json(); // parses JSON response into native JavaScript objects
    }
    var data = {};
    document.getElementById("submit").addEventListener("click", function() {
        data = {
            "title": document.getElementById('title').value,
            "content": document.getElementById('content').value
        };
        if(data.content.length == 0){
            alert("No content!");
            return;
        }

        <% if(post){ %>
        postData(<%- '"'+'/posts/edit/'+post._id+'"' %>, data)
        .then(data => {
            if(data.status == "ok"){
                window.location.href = "/posts";
            }else{
                alert('Post editing failed...');
            }

        });

        <% }else{ %>
        postData('/posts/addpost', data)
        .then(data => {
            if(data.status == "ok"){
                window.location.href = "/posts";
            }else{
                alert('Post adding failed...');
            }

        });
        <% } %>

    });
    <% if(post){ %>
    document.getElementById("delete").addEventListener("click", function() {
        if (confirm("Confirm deletion?")){
            fetch(<%- '"'+'/posts/edit/'+post._id+'"' %>, {
                method: 'DELETE', // *GET, POST, PUT, DELETE, etc.
            })
            .then(response => response.json())
            .then((data)=>{
                if(data.status=="ok"){
                    window.location.href="/posts";
                }else{
                    alert("Error deleting content!");
                }
            })
        }
    });
    <% } %>

</script>