<a href="/" style="text-decoration: none; color: black"><h1>NodeJS Forum</h1></a>
<h3>Register page</h3>
<input placeholder="Username" id="username" required></input><br/>
<input placeholder="Password" id="password" required type="password"></input><br/>
<input placeholder="Confirm password" id="password2" required type="password"></input><br/>
<button id="register">Register</button>

<script>
    async function postData(url = '', data = {}) {
    const response = await fetch(url, {
        method: 'POST', // *GET, POST, PUT, DELETE, etc.
        headers: {
        'Content-Type': 'application/json'
        },
        body: JSON.stringify(data) // body data type must match "Content-Type" header
    });
    return response.json(); // parses JSON response into native JavaScript objects
    }
    var data = {};
    document.getElementById("register").addEventListener("click", function() {
        password = document.getElementById("password").value;
        confirm_password = document.getElementById("password2").value;
        if(password!=confirm_password){
            alert("Passwords do not match!");
            return;
        }
        data = {
            "username": document.getElementById('username').value,
            "password": document.getElementById('password').value
        };

        postData('/register', data)
        .then(data => {
            if(data.status == "ok"){
                alert("User creation successful!");
                window.location.href = "/";
            }else{
                alert(data.err_msg);
            }
        });
    });
</script>