<div>
    <span>
        <a href="/" style="text-decoration: none; color: black;">
            <h1 style="display: inline">NodeJS Forum</h1>
        </a>
    </span>
    <span style="float:right"><a href="/user/self">Account</a> / <a href="/logout"> Logout</a></span>
</div>
<hr>
<h2>Account</h2>
<h4>Username: <%= username %></h4>
<h4>No. of comments: <%= number %></h4>
<button onclick="window.location.href='/user/self/change'">Change password</button>